<html>
    <head>
        <title>My Application</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Home</a></h1>
        </div>

        <div>
            
            <h2><a href="/">Autocadd</a></h2>
            <p>published: 07.04.2018, 12:14</p>
            <p>AutoCAD is a commercial computer-aided design (CAD) and drafting software application. Developed and marketed by Autodesk. AutoCAD was first released in December 1982 as a desktop app running on microcomputers with internal graphics controllers. Before AutoCAD was introduced, most commercial CAD programs ran on mainframe computers or minicomputers, with each CAD operator (user) working at a separate graphics terminal. Since 2010, AutoCAD was released as a mobile- and web app as well, marketed as AutoCAD 360.</p>
        </div>

        <div>
            
            <h2><a href="/">Staad.pro</a></h2>
            <p>published: 07.04.2018, 12:14</p>
            <p>STAAD or (STAAD.Pro) is a structural analysis and design computer program originally developed by Research Engineers International at Yorba Linda, CA in 1997. In late 2005, Research Engineers International was bought by Bentley Systems.The commercial version, STAAD.Pro, is one of the most widely used structural analysis and design software products worldwide. It supports several steel, concrete and timber design codes.</p>
        </div>
    </body>
</html>